asgiref
certifi
dj_database_url
distlib
Django
django-cors-headers
django-jazzmin
filelock
gunicorn
packaging
Pillow
psycopg2
pipenv
platformdirs
PyJWT
python-dotenv
pytz
requests
selenium
six
sqlparse
tzdata
urllib3
virtualenv
webdriver-manager
whitenoise